/* career & skills */
#myself {width: 100%; padding: 70px 0; text-align: center;}
#myself {width: 100%; padding: 70px 0; text-align: center;}
#myself .career,
#myself .skill {position: relative; float: left; width: 50%; padding: 0 10%; box-sizing: border-box;}
#myself h2 {margin-bottom: 50px; font-size: 20px; font-weight: 300; color: #000;}
#myself h2 img {width: 100px;}
#myself .skill h2 img {position: relative; top: -10px;}
#myself dl {text-align: left;}
#myself dt,
#myself dt {margin-top: 14px; font-size: 16px; color: #f49bb5;}
#myself dd {padding: 0 8px;}
